[class*='bgicon_']{
  width: 16px;
  height: 16px;
  margin: 0 3px;
  display: inline-block;
  cursor: pointer;
}
[class*='bgicon_']::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bgicon_vue::before{
  background-image: url(../logo.png);
}
